{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "warn",
    "comma-dangle": "error",
    "semi": "error",
    "space-before-function-paren": "error"
  },
  "ignorePatterns": [
    "repl.js",
    "**/*__tests__"
  ],
  "reportUnusedDisableDirectives": true
}
